* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: linear-gradient(60deg, rgb(44, 44, 255), rgb(44, 157, 255));
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main>div:nth-of-type(2) {
  width: calc(100% - 300px);
  height: 100%;
  position: relative;
  display: block;
}

#chatList {
  width: 300px;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  align-self: flex-start;
  margin-bottom: 50px;
}

#chatBack {
  display: none;
}

#menuItems {
  position: absolute;
  height: 40px;
  width: 300px;
  background-color: white;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menuItems a {
  color: black;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  main {
    display: block;
  }

  main>div:nth-of-type(2) {
    width: 100%;
  }

  #chatList {
    width: 100%;
  }

  #chatBack {
    position: absolute;
    display: inline;
    padding: 4px;
    height: 100%;
    background-color: white;
    color: black;
    border: 0;
    border-right: 1px solid black;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
    top: 0;
    left: 0;
  }

  #menuItems {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}


.chat {
  width: 100%;
  height: 50px;
  overflow: hidden;
  border: 0;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  background-color: white;
  color: black;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.chat:hover {
  background-color: rgb(235, 235, 235);
}

.chat:first-of-type {
  border-top: 0;
}

.chat:last-of-type {
  border-bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chat img {
  height: calc(100% - 10px);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 15px;
}

.chat a {
  margin-left: 15px;
  font-size: 30px;
}

#loginElements form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginInputs {
  border: 0;
  outline: 0;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  font-size: 18px;
}

#btn-login {
  border: 0;
  outline: 0;
  padding: 8px;
  margin: 5px;
  background-color: white;
  color: black;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

#btn-login:hover {
  background-color: rgb(233, 233, 233);
}

#messages {
  background-color: rgb(200, 200, 200);
  width: 100%;
  height: calc(100% - 90px);
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

#chatInfos {
  position: absolute;
  height: 45px;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

#chatInfos img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 10px;
  display: inline;
  object-fit: cover;
}

#chatInfos img:empty {
  display: none;
}

#chatInfos p {
  font-size: 35px;
}

#inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  position: relative;
}

#messageInput {
  width: calc(100% - 140px);
  padding: 5px;
  padding-left: 10px;
  height: 30px;
  border: 0;
  outline: 0;
  font-size: 25px;
  resize: none;
  align-self: flex-end;
  transition: 0.4s all ease-in-out;
}

#uploadInfo {
  width: calc(100% - 138px);
  height: 20px;
  background-color: white;
  position: absolute;
  text-align: center;
  bottom: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
  transition: 0.4s all ease-in-out;
  display: none;
}

#btn-send {
  border: 0;
  border-left: 1px solid black;
  outline: 0;
  width: 70px;
  height: 40px;
  background-color: white;
  color: black;
  font-size: 25px;
  cursor: pointer;
}

#btn-send:hover {
  background-color: rgb(233, 233, 233);
}

#error {
  color: red;
  margin: 10px;
}

.ownMessage {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ownMessage a {
  align-self: flex-end;
  color: grey;
}

.ownMessage img {
  width: 30%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
  margin: 5px;
}

.otherMessage {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.otherMessage a {
  align-self: flex-start;
  color: grey;
}

.otherMessage img {
  width: 30%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
  margin: 5px;
}

@media screen and (max-width: 400px) {
  .ownMessage img {
    width: 90%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 15px;
    margin: 5px;
  }
  .otherMessage img {
    width: 90%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 15px;
    margin: 5px;
  }
}

.online {
  position: absolute;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
  transform: translate(45px, 15px);
}

#backLink {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: black;
  padding: 8px;
  background-color: white;
  border-bottom-right-radius: 5px;
}

#profileImage {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

#userInfoName {
  margin-left: 20px;
  font-size: 50px;
  text-align: center;
}

#uploadErrorMessage {
  color: rgb(255, 67, 46);
  text-align: center;
  padding: 10px;
}

#chatMessageType {
  border: 0;
  border-right: 1px solid black;
  outline: 0;
  width: 70px;
  height: 40px;
  background-color: white;
  color: black;
  font-size: 25px;
  cursor: pointer;
}

#chatMessageType:hover {
  background-color: rgb(233, 233, 233);
}

#messageTypeChoose {
  position: absolute;
  width: 60px;
  left: 5px;
  bottom: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

#messageTypeChoose button {
  font-size: 18px;
  outline: 0;
  border: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid black;
  cursor: pointer;
}

#messageTypeChoose button:hover {
  background-color: rgb(233, 233, 233);
}

#messageTypeChoose button:last-of-type {
  border-bottom: 0;
}

.ownMessage .messageLink {
  padding-bottom: 8px;
  margin-bottom: 8px;
  width: calc(100% + 20px);
  transform: translateX(10px);
  text-align: center;
  border-bottom: 1px solid black;
  color: black !important;
  text-decoration: none;
  overflow-x: scroll;
}

.otherMessage .messageLink {
  padding-bottom: 8px;
  margin-bottom: 8px;
  width: calc(100% + 20px);
  transform: translateX(-10px);
  text-align: center;
  border-bottom: 1px solid black;
  color: black !important;
  text-decoration: none;
  overflow-x: scroll;
}

#messageLinkInput {
  width: calc(100% - 138px);
  height: 24px;
  background-color: white;
  position: absolute;
  text-align: center;
  bottom: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-bottom: 1px solid black;
  transition: 0.4s all ease-in-out;
  display: none;
}

.overlayWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(calc(100% - 40px), 400px);
  height: calc(100% - 40px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 6px rgba(61, 61, 61, .5);
  display: none;
  z-index: 200;
}

#groupInfoImg {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: 10px;
  object-fit: cover;
}

#groupInfoName {
  font-size: 40px;
}

#groupInfoUsers {
  width: calc(100% - 14px);
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  margin-top: 15px;
  display: flex;
  flex-direction: column
}

#groupInfoUsers a {
  padding: 5px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

#groupInfoUsers a:last-of-type {
  border-bottom: 0;
}

#groupInfoUsers i {
  color: grey;
}

#groupInfoLeave {
  background-color: red;
  color: white;
  border: 0;
  outline: 0;
  width: calc(100% - 14px);
  margin-top: 10px;
  font-size: 25px;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.overlayWindow>button:first-of-type {
  position: absolute;
  align-self: flex-start;
  border: 0;
  outline: 0;
  font-size: 20px;
  padding: 5px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

#groupInfoClose:hover {
  background-color: rgb(233, 233, 233);
}

.fileList {
  display: flex;
  flex-direction: column;
  width: calc(100% + 20px);
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.fileList a {
  color: black;
  padding: 4px;
  text-decoration: none;
  width: calc(100% - 10px);
}

#passwordChangeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  margin-left: 20px;
}

#passwordChangeDiv input {
  border: 0;
  outline: 0;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  font-size: 18px;
  width: 200px;
}

#btn-changePassword {
  border: 0;
  outline: 0;
  padding: 8px;
  margin: 5px;
  background-color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  width: 216px;
}

#btn-changePassword:hover {
  background-color: rgb(233, 233, 233);
}

#profileInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

#profileInfoWrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#chooseAddType {
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
}

#chooseAddType div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chooseAddType h1 {
  text-align: center;
}

#addDiv hr {
  width: 100%;
}

#chooseAddType button {
  width: 40%;
  height: 30px;
  background-color: white;
  border: 0;
  outline: 0;
  font-size: 20px;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 10px;
}

#addChatDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#addChatDiv input {
  width: 90%;
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  margin-top: 10px;
  background-color: rgb(230, 230, 230);
}

#addChatDiv p {
  color: red;
  font-size: 16px;
  margin: 5px;
}

#addChatUser {
  width: 90%;
  height: 120px;
  padding: 8px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#addChatUser img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

#addChatUser a {
  margin-left: 20px;
  font-size: 30px;
}

#addDiv>button:last-of-type {
  position: absolute;
  bottom: 10px;
  background-color: rgb(180, 180, 180);
  border: 0;
  outline: 0;
  font-size: 20px;
  padding: 4px;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
}

#addGroupDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#addGroupDiv input {
  width: 90%;
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  margin-top: 10px;
  background-color: rgb(230, 230, 230);
}

#addGroupDiv p {
  color: red;
  font-size: 16px;
  margin: 5px;
}

#choosenUsers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

#createUserWindow input {
  width: 90%;
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  margin-top: 10px;
  background-color: rgb(230, 230, 230);
}

#createUserWindow h1 {
  margin-top: 10px;
}

#createUserWindow>button:last-of-type {
  position: absolute;
  bottom: 10px;
  background-color: rgb(180, 180, 180);
  border: 0;
  outline: 0;
  font-size: 20px;
  padding: 4px;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
}